<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogoteca</title>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Jogoteca</h1>
        </div>
        <table class="table table-stripped table-responsive table-border">
            <thead class="thead-default">
                <tr>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        God of war
                    </td>
                </tr>
                <tr>
                    <td>
                        The Last of Us 2
                    </td>
                </tr>
                <tr>
                    <td>
                        Homem-aranha
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>